{% extends "base.html" %}
{% block content %}


{% if name  %}
    <div class="jumbotron">
        <h1>{{name}}</h1>
        <a href="/pages/{{name}}/delete"> DELETE </a>
    </div>
{% endif %}


<form action="/save" method="post" id="editForm">
    <input type="hidden" value="{{doc}}" id=doc name="doc">
    <h2><u>Doc Title:</u></h2><br><input type="text" name="title" value="{{name}}"><br><br>
    <h2><u>Doc Content:</u></h2><br>

    {% if name  %}
    <div id="epiceditor">
        <textarea id="epictext" rows="8" cols="40">{{doc}}</textarea><br>
    </div>
    {% else %}
    <div id="epiceditor">
        <textarea id="epictext" name="doc" rows="8" cols="40" >(begin new doc)</textarea><br>
    </div>
    {% endif %}
    <br>
    <input type="button" class="btn btn-default" onclick="saveFile()" value="Save">

    <!-- INSERT PICTURE -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Insert Picture</button>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Choose an image</h4>
                </div>

                <div class="modal-body">
                    <!-- insert stuff here -->
                    <div id="imagecluster" class="free-wall">
                        {% for i in images %}
                            <img id="/{{i}}" src="/{{i}}" width="200px" onclick="insertLink('/{{i}}')" data-dismiss="modal"/>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf-field %}
</form>
<br><br>

<form action="/images/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="file" id="file">
    <input type="submit" value="Upload Image">
    {% csrf-field %}
</form><br><br><br><br>



<script src="/js/epiceditor/js/epiceditor.min.js"></script>
<script src="/js/jQuery/jquery-3.0.0.min.js"></script>
<script src="/js/freewall/freewall.js"></script>

<script>

    ////// INITIALISING

    ////// FREEWALL
    $(function() {
        var wall = new Freewall("#imagecluster");
        //wall.fitWidth();
    })


    /////// EPICEDITOR
    var opts = {
        container: 'epiceditor',
        textarea: epictext,
        basePath: '/js/epiceditor/',
        clientSideStorage: true,
        localStorageName: 'epiceditor',
        useNativeFullscreen: true,
        parser: marked,
        file: {
            name: 'epiceditor',
            defaultContent: '',
            autoSave: 100
        },
        theme: {
            base: '/themes/base/epiceditor.css',
            preview: '/themes/preview/preview-dark.css',
            editor: '/themes/editor/epic-dark.css'
        },
        button: {
            preview: true,
            fullscreen: true,
            bar: "auto"
        },
        focusOnLoad: false,
        shortcut: {
            modifier: 18,
            fullscreen: 70,
            preview: 80
        },
        string: {
            togglePreview: 'Toggle Preview Mode',
            toggleEdit: 'Toggle Edit Mode',
            toggleFullscreen: 'Enter Fullscreen'
        },
        autogrow: false
    };

    var newopts = {
        // textarea: 'epictext',
        basePath: '/js/epiceditor/'
    };

    var editor = new EpicEditor(opts).load();
    console.log("Editor unloaded.");
    var content = editor.exportFile();
    var newContent;

    ////////////// END INITIALISING

    ///// FUNCTION TO INSERT LINKS TO PICTURES IN THE EDITOR
    function insertLink(link){
        var edit = editor.getElement('editor');
        console.log(link);
        console.log(edit);
        var linkName = link.substring(8);
        console.log(linkName);
        var string = '<br>![]('+link+ ' "'+linkName+'")';
        // var string = '<img src="'+link+'" width="200px"/>'
        editor.getElement('editor').body.insertAdjacentHTML('beforeend', string);
        console.log(string);
        //editorBody += string;


    }


    ////////////  failsafe page leaver
    var saveStatus = false;
    window.onbeforeunload = function(event) {

			if (hasData() & saveStatus==false) {
				return "You entered information in the page. Are you sure you want to leave now?"; // Very important
			}

            function hasData() {

            newContent = editor.exportFile();

			if (content != newContent ) {
				return true;
			}
			return false;
		}
	}

    ///////////// SAVE FILE FUNCTION
    function saveFile() {
        saveStatus =true;
        newContent = editor.exportFile();
        //{data:editor.exportFile()}

        if (newContent != null){
            //console.log(document.getElementById("epiceditor"));
            //console.log(document.getElementById("doc"));
            console.log(newContent);
            document.getElementById("doc").setAttribute("value", newContent);
        }
        //.getElementById("epiceditor").getElementById("epictext"))
        document.getElementById("editForm").submit();
    }


</script>

{% endblock %}
