{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome to the CloudAfrica wiki!</h1><br>
    <p><a class="btn btn-primary btn-lg" href="http://cloudafrica.net">CloudAfrica Website &raquo;</a><br><br>
    <a class="btn btn-primary btn-lg" href="https://cloudafrica.slack.com/messages/general/">CloudAfrica Slack &raquo;</a></p>
    <a class="btn btn-primary btn-lg" href="/pages">Documents &raquo;</a></p>
  </div>
  </div>

  <div class="row">
    <div class="span12">
    <ul>

    </ul>
    </div>
  </div>
{% endblock %}
